doctype html
html.no-js
  head
    script !function(d){d.className=d.className.replace(/\bno-js\b/,'js')}(document.documentElement)
    meta(charset = 'utf-8')
    meta(
      name = 'viewport'
      content = 'width=device-width, initial-scale=1'
    )
    title Sleeping buddies
    link(
      rel = 'stylesheet'
      href = 'app.css'
    )

  body

    block content

    script(src = 'app.js')
    block scripts
