extends _layout

block content
  .container
    .row: .col-sm-12
      :markdown
        In development, see the [GitHub repository](https://github.com/julien-f/sleeping-buddies.net).

      include:markdown ../../README.md
